name: Tests

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest
    container: golang
    steps:
      - name: Checkout repositry
        run: git clone --depth 1 "$GITHUB_SERVER_URL/$GITHUB_REPOSITORY" ./

      - name: Run tests
        run: go test -v -coverprofile=coverage.txt -covermode=count

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.txt
          fail_ci_if_error: true
          verbose: true
